In [4]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

In [2]:

# Define the data for the DataFrame with NaN values
data = {
    'Name': ['John', 'Alice', 'Michael', 'Emma', np.nan, 'Sophia', 'James', np.nan, 'William', 'Emily'],
    'Gender': ['M', np.nan, 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
    'Age': [25, 30, 40, np.nan, 28, 32, np.nan, 27, 38, 29],
    'Occupation': ['Engineer', 'Teacher', 'Doctor', 'Nurse', 'Software Engineer', np.nan, 'Lawyer', 'Writer', 'Manager', 'Nurse']
}

# Create DataFrame from the dictionary
df = pd.DataFrame(data)

print(df)

      Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice    NaN  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F   NaN              Nurse
4      NaN      M  28.0  Software Engineer
5   Sophia      F  32.0                NaN
6    James      M   NaN             Lawyer
7      NaN      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

In [5]:
df.dtypes

Name           object
Gender         object
Age           float64
Occupation     object
dtype: object

In [6]:
# Mean imputation for num col
df_mean = df.fillna(df.mean())

# Median imputation for num col
df_median = df.fillna(df.median())

# Mode imputation
df_mode = df.fillna(df.mode().iloc[0])

# Constant imputation
df_constant = df.fillna(0)

# Forward fill (ffill)
df_ffill = df.ffill()

# Backward fill (bfill)
df_bfill = df.bfill()

# Linear interpolation(guessing from prev and next point) for num col
df_interpolated = df.interpolate(method='linear')

# Hot-deck imputation (using forward fill for simplicity)
df_hot_deck = df.fillna(method='ffill')# values selected on similarity on features.

#KNN imputation (only include num as we need to measure distance betn samples)
imputer = KNNImputer(n_neighbors=2)
df_knn_imputed = pd.DataFrame(imputer.fit_transform(df.select_dtypes(include=np.number)), columns=df.select_dtypes(include=np.number).columns)

# Display the imputed DataFrames
print("Mean Imputation:\n", df_mean)
print("\nMedian Imputation:\n", df_median)
print("\nMode Imputation:\n", df_mode)
print("\nConstant Imputation:\n", df_constant)
print("\nForward Fill (ffill):\n", df_ffill)
print("\nBackward Fill (bfill):\n", df_bfill)
print("\nLinear Interpolation:\n", df_interpolated)
print("\nHot-deck Imputation:\n", df_hot_deck)
print("\nKNN Imputation:\n", df_knn_imputed)

Mean Imputation:
       Name Gender     Age         Occupation
0     John      M  25.000           Engineer
1    Alice    NaN  30.000            Teacher
2  Michael      M  40.000             Doctor
3     Emma      F  31.125              Nurse
4      NaN      M  28.000  Software Engineer
5   Sophia      F  32.000                NaN
6    James      M  31.125             Lawyer
7      NaN      F  27.000             Writer
8  William      M  38.000            Manager
9    Emily      F  29.000              Nurse

Median Imputation:
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice    NaN  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  29.5              Nurse
4      NaN      M  28.0  Software Engineer
5   Sophia      F  32.0                NaN
6    James      M  29.5             Lawyer
7      NaN      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Mode Imputation:
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice      M  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  25.0              Nurse
4    Alice      M  28.0  Software Engineer
5   Sophia      F  32.0              Nurse
6    James      M  25.0             Lawyer
7    Alice      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Constant Imputation:
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice      0  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F   0.0              Nurse
4        0      M  28.0  Software Engineer
5   Sophia      F  32.0                  0
6    James      M   0.0             Lawyer
7        0      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Forward Fill (ffill):
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice      M  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  40.0              Nurse
4     Emma      M  28.0  Software Engineer
5   Sophia      F  32.0  Software Engineer
6    James      M  32.0             Lawyer
7    James      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Backward Fill (bfill):
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice      M  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  28.0              Nurse
4   Sophia      M  28.0  Software Engineer
5   Sophia      F  32.0             Lawyer
6    James      M  27.0             Lawyer
7  William      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Linear Interpolation:
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice    NaN  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  34.0              Nurse
4      NaN      M  28.0  Software Engineer
5   Sophia      F  32.0                NaN
6    James      M  29.5             Lawyer
7      NaN      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

Hot-deck Imputation:
       Name Gender   Age         Occupation
0     John      M  25.0           Engineer
1    Alice      M  30.0            Teacher
2  Michael      M  40.0             Doctor
3     Emma      F  40.0              Nurse
4     Emma      M  28.0  Software Engineer
5   Sophia      F  32.0  Software Engineer
6    James      M  32.0             Lawyer
7    James      F  27.0             Writer
8  William      M  38.0            Manager
9    Emily      F  29.0              Nurse

KNN Imputation:
       Age
0  25.000
1  30.000
2  40.000
3  31.125
4  28.000
5  32.000
6  31.125
7  27.000
8  38.000
9  29.000

<ipython-input-6-97b07412d6dd>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_mean = df.fillna(df.mean())
<ipython-input-6-97b07412d6dd>:5: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_median = df.fillna(df.median())