<a href="https://colab.research.google.com/github/pxs1990/DS_projects/blob/main/py_assignments_takeo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

In [ ]:
#1. fungtions using *args
def use_args(*args):
    result=0
    for i in args:
        result+=i
    return result

use_args(5,4,2,3,2)

16

In [ ]:
def use_args(*args):
    result=100
    for i in args:
        result-=i
    return result

use_args(5,4,2,3,2)

84

In [ ]:
def use_args(*args):
    result=1
    for i in args:
        result*=i
    return result

use_args(5,4,2,3,2)

240

In [ ]:
def use_args(*args):
    result=10
    for i in args:
        result/=i
    return result

use_args(5,4,2,3,2)

0.041666666666666664

In [ ]:
def use_args(*args):
    result=10
    for i in args:
        result//=i
    return result

use_args(5,4,2,3,2)

0

In [ ]:
def use_args(*args):
    result=10
    for i in args:
        if i%2==0:
            print(i, 'is an even number')
        else:
            print(i,'is an odd number')
use_args(5,4,2,3,2)

5 is an odd number
4 is an even number
2 is an even number
3 is an odd number
2 is an even number

In [ ]:
def use_args(*args):
    result=2
    for i in args:
        result**=i
    return result

use_args(5,4,2,3,2)

1766847064778384329583297500742918515827483896875618958121606201292619776

In [ ]:
#2. py program for **kwargs
def use_kwargs(**kwargs):
    s=set()
    for i in kwargs:
        s.add(i)
    print(s)
use_kwargs(a='apple',b='ball',c='cat',d='dog')

{'c', 'a', 'd', 'b'}

    1. abs()	Returns the absolute value of a number
	2. all()	Returns True if all items in an iterable object are true
	3. any()	Returns True if any item in an iterable object is true
	4. bin()	Returns the binary version of a number
	5. bool()	Returns the boolean value of the specified object
	6. complex()	Returns a complex number
	7. dict()	Returns a dictionary (Array)
	8. enumerate()	Takes a collection (e.g. a tuple) and returns it as an enumerate object
	9. eval()	Evaluates and executes an expression
	10. exec()	Executes the specified code (or object)
	11. filter()	Use a filter function to exclude items in an iterable object
	12. float()	Returns a floating point number
	13. format()	Formats a specified value
	14. help()	Executes the built-in help system
	15. hex()	Converts a number into a hexadecimal value
	16. id()	Returns the id of an object
	17. input()	Allowing user input
	18. int()	Returns an integer number
	19. iter()	Returns an iterator object
	20. len()	Returns the length of an object
	21. list()	Returns a list
	22. max()	Returns the largest item in an iterable
	23. min()	Returns the smallest item in an iterable
	24. next()	Returns the next item in an iterable
	25. oct()	Converts a number into an octal
	26. open()	Opens a file and returns a file object
	27. ord()	Convert an integer representing the Unicode of the specified character
	28. pow()	Returns the value of x to the power of y
	29. print()	Prints to the standard output device
	30. property()	Gets, sets, deletes a property
	31. range()	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)
	32. repr()	Returns a readable version of an object
	33. reversed()	Returns a reversed iterator
	34. round()	Rounds a numbers
	35. set()	Returns a new set object
	36. slice()	Returns a slice object
	37. sorted()	Returns a sorted list
	38. str()	Returns a string object
	39. sum()	Sums the items of an iterator
	40. tuple()	Returns a tuple
	41. type()	Returns the type of an object

In [ ]:
#Built in functions
abs(2-4)

2

In [ ]:
all([2>3,True])

False

In [ ]:
any([2>3,True])

True

In [ ]:
print(bin(5))
print(hex(12))
print(oct(11))

0b101
0xc
0o13

In [ ]:
bool(1)#True for non-zero

True

In [ ]:
complex(1,2)

(1+2j)

In [ ]:
dict([(1,'a'),(2,'b'),(3,'c')])#L of T or L of L

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
for i in enumerate(['apple', 'banana', 'orange']):#to iterate list
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'orange')

In [ ]:
eval('5+2')

7

In [ ]:
source_code = '''
def greet(name):
    return f"Hello, {name}!"

result = greet("Alice")
print(result)
'''

compiled_code = compile(source_code, "<string>", "exec")

# Execute the compiled code
exec(compiled_code)

Hello, Alice!

In [ ]:
#filter(fun, iterable)-->It filters ite based on a specified function.

def is_even(num):
    return num % 2 == 0
even_numbers = filter(is_even, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [ ]:
print(float(2))

2.0

In [ ]:
"my name is {} and I am {}".format('Pushpa',33)#replaces placeholder with values

'my name is Pushpa and I am 33'

In [ ]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [ ]:
id(10)#returns a unique identifier/ memory address

139736470487568

In [ ]:
isinstance(12,int)

True

In [ ]:
input('Enter you name:')

Enter you name:Pushpa

'Pushpa'

In [ ]:
int(2.2)

2

In [ ]:
l = [1, 3, 5, 7, 9]
itr = iter(l)

try:
    while True:
        print(next(itr))
except StopIteration:
    pass

1
3
5
7
9

In [ ]:
len([1,2,3])# len of any ite

3

In [ ]:
print(list('Pushpa'))
print(list((1,2,3)))
print(list({1:'a',2:'b',3:'c'}))
print(list({1:'a',2:'b',3:'c'}.values()))
print(list({1:'a',2:'b',3:'c'}.items()))

['P', 'u', 's', 'h', 'p', 'a']
[1, 2, 3]
[1, 2, 3]
['a', 'b', 'c']
[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
print(max('pushpa'))#of ite
print(min([1,2,3,4,0]))

u
0

In [ ]:
path='/content/drive/MyDrive/Dataset/dsinput.txt'
with open(path,'w') as f:
    #print(f.read())
    f.write("This line is appended from python")

In [ ]:
#ord()-->ord('A') returns the ordinal value or Unicode code point of A
ord('A')

65

In [ ]:
#pow()-->exponential
print(pow(2, 3))
print(pow(2, 3, 5))  # Calculates (2 ** 3) % 5

8
3

In [ ]:
#property()-->allows implementation of getter and setter()
class MyClass:
    def __init__(self):
        self._x = None

    def get_x(self):
        return self._x

    def set_x(self, value):
        self._x = value

    x = property(get_x, set_x)

obj = MyClass()
obj.x = 10
print(obj.x)

10

In [ ]:
range(3)
for i in range(3):
    print(i)

0
1
2

In [ ]:
#repr()-->  used to obtain the string representation of an object for debugging purpose.
x = 10
r=repr(x)
print(r) # string '10'
print(eval(r)) # int 10

y = [1, 2, 3]
print(repr(y))  # Output: '[1, 2, 3]'

10
10
[1, 2, 3]

In [ ]:
reversed([1,2,3])
list(reversed([1,2,3]))

[3, 2, 1]

In [ ]:
print(round(1.5))
print(round(1.55,1))

2
1.6

In [ ]:
print(set([2,2,3]))
print(set({'a':'apple','b':'ball'}))
print(set({'a':'apple','b':'ball'}.items()))

{2, 3}
{'a', 'b'}
{('b', 'ball'), ('a', 'apple')}

In [ ]:
#setattr()-->  sets the value of an attribute on an object.
class Person:
    pass

obj = Person()

# Setting attributes using setattr()
setattr(obj, 'name', 'Pushpa')
setattr(obj, 'age', 33)

# Accessing the attributes
print(obj.name)
print(obj.age)

Pushpa
33

In [ ]:
#slice() instead of indexing
l = [1, 2, 3, 4, 5]
l[slice(2,4)]

[3, 4]

In [ ]:
#sorted()-->  sorts the iterable obj keeping the original obj unchanged.
print(sorted([1,3,2,5,4]))
sorted('pushpa', reverse=True)

[1, 2, 3, 4, 5]

['u', 's', 'p', 'p', 'h', 'a']

In [ ]:
str(1)

'1'

In [ ]:
sum([1,2,3])# sums ite

6

In [ ]:
tuple({1,2,3})

(1, 2, 3)

In [ ]:
print(type(1.2))
l=[1,2]
type(l)

<class 'float'>

list

In [ ]:
#staticmethod() -->returns a static method from a function defined within a class.
class MyClass:
    @staticmethod
    def static_method():
        return "This is a static method."

# Calling the static method without an instance of the class
MyClass.static_method()

'This is a static method.'

In [ ]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def instance_method(self):
        return f"This is an instance method. Value: {self.value}"

# Creating an instance of the class
obj = MyClass(10)

# Calling an instance method using the instance
obj.instance_method()

'This is an instance method. Value: 10'

In [ ]:
#4.Write Python Program using Nested-if-else-elif; Password and Username Checking
def check_login(id,password):
    user_name='push123'
    user_password="shrestha123"
    if id==user_name:
        if password==user_password:
            print('login successful')
        else:
            print('incorrect password, try again!')
    else:
        print('user name is incorrect')

id=input('Enter your id: ')
pw=input('Enter you password: ')
check_login(id,pw)

Enter your id: pushpa123
Enter you password: shrestha123
user name is incorrect

In [ ]:
def draw_hollow_pyramid(rows):
    for i in range(rows):
        # Print spaces for left side of the pyramid
        for j in range(rows - i ):
            print(" ", end="")

        # Print asterisks for the pyramid pattern
        for j in range(2 * i + 1):
            if j == 0 or j == 2 * i:
                print("*", end="")
            else:
                print(" ", end="")

        # Move to the next line after each row
        print()

# Input the number of rows for the pyramid
num_rows = int(input("Enter the number of rows for the hollow pyramid: "))

# Call the function to draw the hollow pyramid
draw_hollow_pyramid(num_rows)

Enter the number of rows for the hollow pyramid: 10
          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *                 *

In [ ]:
def hollow_triangle(l):
    for i in range(l):
        for j in range(l):
            if j==0 or j==i or i==l-1:
                print('*', end=' ')
            else:
                print('  ',end='')
        print()

hollow_triangle(10)

*
* *
*   *
*     *
*       *
*         *
*           *
*             *
*               *
* * * * * * * * * *

In [ ]:
def draw_hollow_square(side_length):
    for i in range(side_length):
        for j in range(side_length):
            # Print '*' only if it's the first or last row, or the first or last column
            if i == 0 or i == side_length - 1 or j == 0 or j == side_length - 1:
                print("*", end=" ")
            else:
                print(" ", end=" ")
        print()
draw_hollow_square(10)

* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [ ]:
# print first n natural numbers
def get_naturalNo(n):
    for i in range(1,n+1):
        print(i,end=' ')
get_naturalNo(10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print first n natural numbers
def get_evenNo(n):
    for i in range(1,2*(n+1)):
        if i%2==0:
            print(i,end=' ')
        else:
            pass
get_evenNo(10)

2 4 6 8 10 12 14 16 18 20

In [ ]:
# print first n natural numbers
def get_oddNo(n):
    for i in range(1,2*n):
        if i%2!=0:
            print(i,end=' ')
        else:
            pass
get_oddNo(9)

1 3 5 7 9 11 13 15 17

In [ ]:
def Prime(n):
    import math
    for i in range(2,int(math.sqrt(n))+1):
        if(n%i==0): #false if divisible by 2 and then exits.
            return False
    return True
  #Prime(25)??-->25/[2,3,4,5]-->F
N=int(input("Enter N:"))
j=2
lst=[]
while len(lst)<=N:
    if(Prime(j)):
        lst.append(j)
    j+=1
print("First "+str(N)+" Prime numbers are:",end="")
print(*lst)

Enter N:10
First 10 Prime numbers are:2 3 5 7 11 13 17 19 23 29 31

In [ ]:
#fun that checks prime no:
def Prime(n):
    for i in range(2,int(n**0.5)+1):
        if(n%i==0): #false if if any no less than sq of d divides d exactly.
            return False
    return True # not executed if returned False from for loop
Prime(12)

False

In [ ]:
def isP(n):
    import math
    for i in range(2,int(math.sqrt(n)+1)):
        if n%i==0:
            return False
    return True
l=[]
j=2
N=int(input('Enter the no of prime: '))
while len(l)<=N:
    if isP(j)==True:
        l.append(j)
    j+=1
print(*l)

Enter the no of prime: 10
2 3 5 7 11 13 17 19 23 29 31

In [ ]:
#Program 8: Python program to calculate the sum, subtraction, division, multiplication, floor division, modulus,
# exponential of all numbers from 1 to a given number input().
def any_sum(*args):
    s=0
    for i in args:
        s+=i
    return s
any_sum(1,2,3,4,5,6)

21

In [ ]:
def any_sum1(n):
    s=0
    for i in range(1,n+1):
        s+=i
    return s
any_sum1(6)

21

In [ ]:
def list_mod(n):
    l=[]
    divisor=2
    for i in range(1,n+1):
        result=i%divisor
        if result==0:
            r= "even"
        else:
            r='odd'
        l.append(r)
    return l
list_mod(10)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
#Program 9: Python program that accepts a word from the user and reverses it.

def rev_input(str1):
    return ''.join(reversed(str1))

# def rev_input(str1):
#     return str1[::-1]

rev_input('pushpa')

'aphsup'

In [ ]:
#Program 10: Python program to check if a given number is an Armstrong number
# a number that is equal to the sum of its own digits with power raised to total no of digits.
def isArmsNo(n):
    strNo=str(n)
    total_digit=len(strNo)
    Arms_No=sum(pow(int(d),total_digit) for d in strNo)
    if n==Arms_No:
        return True
    return False

isArmsNo(153)

True

In [ ]:
#Program 11: Python program to get the Fibonacci series between 0 to input().
#a sequence of numbers where each number is the sum of the two preceding ones
def fibonacci_s(n):
    fib_seq=[0,1]
    while fib_seq[-1]<=n:
        next_no=fib_seq[-1]+fib_seq[-2]
        fib_seq.append(next_no)
    return fib_seq[:-1]
fibonacci_s(13)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
#Program 12: Python program to find the factorial of a given number.
def fact(n):
    factl=1
    for i in range(1,n+1):
        factl*=i
    return factl
fact(4)

24

In [ ]:
#Program 13: Python program to convert the month name to a number of days.
def month_day(month,year):
    month=month.casefold()
    if month.startswith('jan'):
        return 31
    elif month.startswith('feb'):
        if year % 4==0:
            return 29
        else:
            return 28
    elif month.startswith('march'):
        return 31
    elif month.startswith('april'):
        return 30
    elif month.startswith('may'):
        return 31
    elif month.startswith('june'):
        return 30
    elif month.startswith('july'):
        return 31
    elif month.startswith('aug'):
        return 31
    elif month.startswith('sep'):
        return 30
    elif month.startswith('oct'):
        return 31
    elif month.startswith('nov'):
        return 30
    elif month.startswith('dec'):
        return 31

month_day('march',2020)

31

Assignment 2

In [ ]:
# Hello world py program
def helloWorld(st):
    result=st.title()
    return result
helloWorld('hello world')

'Hello World'

In [ ]:
# Additiion of two numbers
def add(a,b):
    a=float(a)
    b=float(b)
    return a+b
add(1,2.5)

3.5

In [ ]:
# factorial py program
def fact(n):
    factrl=1
    for i in range (1,n+1):
        factrl*=i
    return factrl
fact(5)

120

In [ ]:
#palindrome check
def rev(n):
    strNo=str(n)
    revNo=reversed(strNo)
    return ''.join(revNo)

def ispalindrome(n):
    if str(n)==rev(n):
        return True
    return False

ispalindrome(100)

False

In [ ]:
#Even or odd or prime
def eop(n):
    if n==2:
        print(n, 'is an even and prime number')
    elif n%2==0:
        print(n,'is an even number.')
    else:
        for i in range(3,int(n**0.5)+1,2):
            if n%i==0:
                return str(n)+' is odd and not a prime'
        return str(n)+' is a prime'
eop(15)

'15 is odd and not a prime'

In [ ]:
#simple calculator (+, -, *, /, %, //, **)
def calc(operator,*args):
    if operator=='+':
        sum1=args[0]
        for i in range(1,len(args)):
            sum1 +=args[i]
        return sum1
    elif operator=='-':
        difference=args[0]
        for i in range(1,len(args)):
            difference-=args[i]
        return difference
    elif operator=='*':
        product=args[0]
        for i in range(1,len(args)):
            product*=args[i]
        return product
    elif operator=='/':
        quotnt=args[0]
        for i in range(1,len(args)):
            quotnt/=args[i]
        return quotnt
    elif operator=='%':
        mod=args[0]
        for i in range(1,len(args)):
            mod %=args[i]
        return mod
    elif operator=='//':
        fldiv=args[0]
        for i in range(1,len(args)):
            fldiv //=args[i]
        return fldiv
    elif operator=='**':
        pwr=args[0]
        for i in range(1,len(args)):
            pwr **=args[i]
        return pwr
print(calc('+',6,4,2))
print(calc('-',6,4,2))
print(calc('*',6,4,2))
print(calc('/',6,4,2))
print(calc('%',6,4,2))
print(calc('//',6,4,2))
print(calc('**',6,4,2))

12
0
48
0.75
0
0
1679616

In [ ]:
#Fibonacci Series
def fib(n):
    lst=[0,1]
    for i in range(2,n):
        elm=lst[i-1]+lst[i-2]
        lst.append(elm)
    return lst
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#sum of digits
def sum_digits(*args):
    return sum(args)
sum_digits(1,2,3,4,5)

15

In [1]:
#swap numbers
def swap(a,b):
    temp=a
    a=b
    b=temp
    return a,b
swap(2,3)

(3, 2)

In [12]:
#sort by swapping min with the number(selection sort)
def sort(list):
    for i in range(len(list)):
        min_index=i
        for j in range(i+1,len(list)):
            if list[j]<list[min_index]:
                min_index=j

        temp=list[min_index]
        list[min_index]=list[i]
        list[i]=temp
    return list
sort([3,2,1,4,5,3])

[1, 2, 3, 3, 4, 5]

In [5]:
#check leap year-->has extra leap day
def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

leap_year(400)

True